LogFileManager/bin/Debug/*
LogFileManager/bin/Release/*
FileGenerator/bin/Debug/*
FileGenerator/bin/Release/*
LogFileManager/obj/Debug/*
LogFileManager/obj/Release/*
FileGenerator/obj/Debug/*
FileGenerator/obj/Release/*
FileGenerator/bin
